@import 'variables';
@import '~react-select/dist/react-select.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import '~react-table/react-table.css';

html,
body {
    height: 100%;
    margin: 0;
    font-size: 14px;
}

h2,
h3 {
    color: $reperio-blue !important;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.contentContainer {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

.#{$namespace}-bar {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.#{$namespace}-bar-container {
    max-height: 15px;
}

.#{$namespace}-bar-animated-container {
    max-height: 15px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.#{$namespace}-bar-animated-inner-container {
    display: block;
    width: 200%;
    position: absolute;
    animation: slide 3s linear infinite;
}

.#{$namespace}-bar-animated-span {
    float: left;
    width: 50%;
}

.#{$namespace}-animated-bar {
    background: url('../assets/rio-slider-colorband1.png') repeat-x;
    image-rendering: pixelated;
    background-size: 100% 100%;
    max-height: 15px;
    display: block;
}

@keyframes slide {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.page-container {
    flex: 1 0 0px;
    background-color: $reperio-content-background;
}

.r-nav-menu {
    flex: 0 0 60px;
}

.r-menu-container {
    display: flex;
    flex-direction: column;
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: $reperio-charcoal;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.footer-content {
    height: 100%;
}

.nav-menu-container {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    border: 0px;
    display: flex;
    margin-bottom: 0px;
    background-color: $reperio-navbar-background;
}

.navbar-header {
    min-width: 60px;
}

.navbar-nav {
    li {
        a {
            font-size: 1.2em;
            padding-bottom: 3px;
        }
    }

    .active>a {
        background-color: transparent !important;
        border-bottom: 2px solid $reperio-red;
    }
}

.nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    padding: 12px;
}

.container {
    width: 100%;
    padding-left: 27px;
}

.redux-form {
    max-width: 280px;
}

.login-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 560px;
    min-height: 350px; //(min-height/2) + (navbar/2)
    margin-top: -205px;
    margin-left: -280px;
    box-shadow: 0px 0px 10px 5px rgba($reperio-charcoal, 0.2);
    background-color: white;

    .login-form {
        padding: 25px 25px 1px 25px;
    }

    .create-account {
        border-width: 4px 0px 0px 0px;
        border-color: rgba(98, 98, 98, 0.2);
        border-style: solid;
        padding: 25px;
    }
}

.vm-actions {
    margin-top: 0px;
    height: 100% !important;
}

.field-array-component-item-label {
    font-weight: bold;
    margin-bottom: 25px;
}

.nested-button-toolbar {
    padding-left: 5px;
}

.field-array-component {
    padding: 18px;
    border-width: 1px;
    border-color: #e6e6e6;
    border-style: solid;
    background-color: $field-array-component-background;
    margin-bottom: 10px;
}

.field-array-component-delete-button {
    position: absolute;
    top: 10px;
    right: 10px
}

//loading spinner container
.modal-container {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal-window-header {
    font-size: 28px;
    min-height: 50px;
}

.modal-window-header-close {
    width: 25px;
    color: #b10000;
    position: absolute;
    font-family: initial;
    font-size: 25px;
    top: 0;
    right: 0;
}

.modal-window-header-close-span {
    cursor: pointer;
}

.modal-window-body {
    overflow-y: auto;
    min-height: 190px;
    max-height: calc(50vh - 150px);
    padding-top: 2px;
}

.modal-window {
    height: 100%;
}

.modal-window-footer {
    width: 100%;
    min-height: 60px;
}

.modal-window-footer-button-container {
    right: 0;
    position: absolute;
    margin-right: 15px;
    margin-bottom: 15px;
    bottom: 0;
    display: inline-block;

    button {
        margin: 10px;
    }
}

//loading spinner
.modal-window-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 50%;
    min-width: 300px;
    min-height: 300px;
    background-color: #f7f7f7;
    border-width: 1px;
    border-style: solid;
    padding: 25px;
}

.black-label {
    background-color: $black-label;
}

.label {
    line-height: 30px;
}

hr {
    border-width: 2px;
    border-color: $reperio-blue;
    margin-top: -5px;
    margin-bottom: 25px;
}

.label {
    line-height: 30px;
}

.#{$namespace}-wrapper {
    background-color: #fff;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    border: 1px solid $wrapper-border-color;
    box-shadow: 0 3px 3px rgba(0,0,0,.16); 
}

.#{$namespace}-form-control {
    background-color: white;
    padding: 6px 16px 3px 16px;
    border-radius: 4px;
    border-width: 1 1 5 1 !important;
    border-style: solid;
    min-height: $min-input-height;
    transition: 0.25s;
    font: 16px/1.5em 'Nunito Sans', sans-serif;
    font-weight: lighter;
}

.#{$namespace}-neutral {
    color: $reperio-blue !important;
    border-color: $reperio-blue !important;
    &:hover {
        color: white !important;
        background-color: $reperio-blue !important;
        border-color: $reperio-blue !important;
    }
    &:focus {
        outline: transparent;
        background-color: $reperio-blue !important;
        border-color: $reperio-blue !important;
        color: white !important;
    }
    &:active {
        color: white !important;
        background-color: $reperio-dark-blue !important;
        border-color: $reperio-dark-blue !important;
    }
    &:disabled {
        outline: transparent;
        background-color: $reperio-disabled-blue !important;
        border-color: $reperio-disabled-blue !important;
        color: white !important;
    }
}

.#{$namespace}-danger {
    color: $reperio-red !important;
    border-color: $reperio-red !important;
    &:hover {
        color: white !important;
        background-color: $reperio-red !important;
        border-color: $reperio-red !important;
    }
    &:focus {
        outline: transparent;
        background-color: $reperio-red !important;
        border-color: $reperio-red !important;
        color: white !important;
    }
    &:active {
        color: white !important;
        background-color: $reperio-dark-red !important;
        border-color: $reperio-dark-red !important;
    }
    &:disabled {
        outline: transparent;
        background-color: $reperio-disabled-red !important;
        border-color: $reperio-disabled-red !important;
        color: white !important;
    }
}

.#{$namespace}-success {
    color: $reperio-teal !important;
    border-color: $reperio-teal !important;
    &:hover {
        color: white !important;
        background-color: $reperio-teal !important;
        border-color: $reperio-teal !important;
    }
    &:focus {
        outline: transparent;
        background-color: $reperio-teal !important;
        border-color: $reperio-teal !important;
        color: white !important;
    }
    &:active {
        color: white !important;
        background-color: $reperio-dark-teal !important;
        border-color: $reperio-dark-teal !important;
    }
    &:disabled {
        outline: transparent;
        background-color: $reperio-disabled-teal !important;
        border-color: $reperio-disabled-teal !important;
        color: white !important;
    }
}

.#{$namespace}-cancel {
    color: $reperio-charcoal !important;
    border-color: $reperio-charcoal !important;
    &:hover {
        color: white !important;
        background-color: $reperio-charcoal !important;
        border-color: $reperio-charcoal !important;
    }
    &:focus {
        outline: transparent;
        background-color: $reperio-charcoal !important;
        border-color: $reperio-charcoal !important;
        color: white !important;
    }
    &:active {
        color: white !important;
        background-color: $reperio-dark-charcoal !important;
        border-color: $reperio-dark-charcoal !important;
    }
    &:disabled {
        outline: transparent;
        background-color: $reperio-disabled-charcoal !important;
        border-color: $reperio-disabled-charcoal !important;
        color: white !important;
    }
}

.#{$namespace}-text-input {
    width: 100%;
    border-color: $reperio-input-border;
    border-bottom-width: 1px !important;
    padding-bottom: 4.5px;
    font: 16px/1.5em 'Nunito Sans', sans-serif;
    font-weight: lighter;
    &:focus-within {
        color: $reperio-blue;
        padding-bottom: 0;
        border-bottom-width: 5px !important;
        border-color: $reperio-blue;
        outline: transparent !important;
    }
    &:disabled {
        color: $reperio-disabled-placeholder;
        background-color: $reperio-navbar-background;
        outline: transparent !important;
        border-color: $reperio-disabled-charcoal !important;
        &::placeholder {
            color: $reperio-disabled-placeholder !important;
        }
    }
}

.#{$namespace}-wide-btn {
    width: 100%;
}

.#{$namespace}-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font: 16px/1.5em 'Nunito Sans', sans-serif;
    font-weight: lighter;
    background-color: #fff;
    border-color: $reperio-input-border;
    border-bottom-width: 1px !important;
    padding-bottom: 4.5px;
    &:focus-within {
        color: $reperio-blue;
        padding-bottom: 0;
        border-bottom-width: 5px !important;
        border-color: $reperio-blue;
        outline: transparent !important;
    }
    >option {
        color: black !important;
    }
    &:disabled{
        color: $reperio-charcoal;
        background-color: $reperio-navbar-background;
        outline: transparent !important;
        border: solid rgba(0, 0, 0, 0.2) 1px !important;
        padding: 0px 16px;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        /*safari and chrome*/
        & {
            height: $min-input-height;
            line-height: 1em;
        }
    }
    @media screen\0 {
        /* IE Hacks: targets IE 8, 9 and 10 */
        select {
            height: $min-input-height;
            line-height: 1em;
        }
    }
    &::-moz-focus-inner {
        /*Remove button padding in FF*/
        border: 0;
        padding: 0;
    }
}

@-moz-document url-prefix() {
    /* targets Firefox only */
    .#{$namespace}-dropdown {
        padding: 15px 0 !important;
    }
}

.#{$namespace}-anchor {
    color: rgba(66, 133, 195, 1);
    text-decoration: none;
    &:hover {
        color: rgba(45, 88, 128, 1);
        text-decoration: none;
    }
}

.#{$namespace}-checkbox-container {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;

    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
    }

    &:focus-within {
        outline: auto 5px -webkit-focus-ring-color;
    }
}

/* Create a custom checkbox */
.#{$namespace}-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 21px;
    border-width: 3 !important;
    border-color: $reperio-blue !important;
    background-color: transparent !important;
    border-style: solid;
    border-radius: 4px;
    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

/* custom radio button checkmark */
.#{$namespace}-radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: solid $reperio-blue;
    /* when radio button is checked, add the blue circle */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}


/* Show the checkmark when checked */
.#{$namespace}-checkbox-container {
    & input:checked~.#{$namespace}-checkbox:after {
        display: block;
    }

    & input:disabled+.#{$namespace}-checkbox {
        border-width: 3 !important;
        border-color: $reperio-disabled-checkbox-blue !important;
        background-color: transparent !important;
        border-style: solid;
        border-radius: 4px;
    }
    
    /* Style the checkmark/indicator */
    & .#{$namespace}-checkbox:after {
        left: 5px;
        width: 6px;
        height: 13px;
        border: solid $reperio-blue;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    & input:disabled+.#{$namespace}-checkbox:after {
        border: solid $reperio-disabled-checkbox-blue;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    & input:checked ~ .#{$namespace}-radio-checkmark:after {
        display: block;
    }

    & input:disabled+.#{$namespace}-radio-checkmark {
        border-width: 3 !important;
        border-color: $reperio-disabled-checkbox-blue !important;
        background-color: transparent !important;
        border-style: solid;
        border-radius: 50%;
    }

    & .#{$namespace}-radio-checkmark:after {
        top:4px;
        left:4px;
        width:11px;
        height:11px;
        border-radius: 50%;
        background: $reperio-blue;
    }

    & input:disabled+.#{$namespace}-radio-checkmark:after {
        top: 4px;
        left: 4px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $reperio-disabled-checkbox-blue;
    }
}

/* reset and override some of the React-Select styles to behave like reper.io components */
.Select-control {
    border: none;
    box-shadow: none;
}

.Select-control {
    background-color: white;
    border-radius: 4px;
    border-width: 1 1 5 1;
    border-style: solid;
    border-color: $reperio-input-border;
    min-height: $min-input-height;
    transition: 0.25s;
    font: 16px/1.5em 'Nunito Sans', sans-serif;
    font-weight: lighter;
}

.Select-multi-value-wrapper {
    border-color: $reperio-input-border;
    border-bottom-width: 1px !important;
    font: 16px/1.5em 'Nunito Sans', sans-serif;
    font-weight: lighter;
    &:focus-within {
        color: $reperio-blue;
        padding-bottom: 0;
        border-bottom-width: 5px !important;
        border-color: $reperio-blue;
        outline: transparent !important;
    }
    &:disabled {
        color: $reperio-disabled-placeholder;
        background-color: $reperio-navbar-background;
        outline: transparent !important;
        border-color: $reperio-disabled-charcoal !important;
        &::placeholder {
            color: $reperio-disabled-placeholder !important;
        }
    }
}

.Select.is-clearable.is-searchable.Select--single,
.Select.has-value.is-clearable.is-searchable.Select--single {

    &>.Select-control {
        border-color: $reperio-input-border;
        border-bottom-width: 1px;
        outline: transparent !important;
        padding: 0px 16px;
    }

    .Select-value-label {
        color: $reperio-blue;
    }

    .Select-multi-value-wrapper>.Select-value {
        padding: 3.5px 16px;
    }

    .Select-placeholder {
        padding: 3.5px 16px;
    }
    
    .Select-input {
        padding: 0;
        padding-top: 3.5px;
    }
}

.Select.is-clearable.is-searchable.Select--multi,
.Select.has-value.is-clearable.is-searchable.Select--multi {
    &>.Select-control {
        border-color: $reperio-input-border;
        border-bottom-width: 1px;
        outline: transparent !important;
        padding: 0px 16px;
    }

    .Select-value-label {
        color: $reperio-blue;
    }

    .Select-placeholder {
        padding: 3.5px 16px;
    }

    .Select-input {
        padding: 0;
        padding-top: 3.5px;
    }
}

.Select.is-clearable.is-searchable.Select--multi,
.Select.has-value.is-clearable.is-searchable.Select--multi {
    .Select-multi-value-wrapper>.Select-value {
        padding: 0;
    }
}

.Select.is-clearable.is-searchable.Select--single,
.Select.has-value.is-clearable.is-searchable.Select--single,
.Select.is-clearable.is-searchable.Select--multi,
.Select.has-value.is-clearable.is-searchable.Select--multi {
    .Select-value-label {
        color: #333;
    }
}

.Select.is-clearable.is-searchable.is-disabled.Select--single,
.Select.has-value.is-clearable.is-searchable.is-disabled.Select--single,
.Select.is-clearable.is-searchable.is-disabled.Select--multi,
.Select.has-value.is-clearable.is-searchable.is-disabled.Select--multi {
    &>.Select-control {
        color: $reperio-disabled-placeholder;
        background-color: $reperio-navbar-background;
        outline: transparent !important;
    }
}

.Select.is-clearable.is-searchable.is-open.Select--single,
.Select.has-value.is-clearable.is-searchable.is-open.Select--single,
.Select.is-clearable.is-focused.is-searchable.Select--single,
.Select.has-value.is-clearable.is-focused.is-searchable.Select--single,
.Select.is-clearable.is-focused.is-pseudo-focused.is-searchable.Select--single,
.Select.has-value.is-clearable.is-focused.is-pseudo-focused.is-searchable.Select--single {
    &>.Select-control {
        border-color: $reperio-blue;
        border-bottom-width: 5px;
        outline: transparent !important;
        padding: 0px 16px;
    }

    .Select-value-label {
        color: $reperio-blue;
    }

    .Select-placeholder {
        padding: 3.5px 16px;
    }

    .Select-multi-value-wrapper > .Select-value {
        padding: 3.5px 16px;
    }

    .Select-input {
        padding: 0;
        padding-top: 3.5px;
    }
}

.Select.is-clearable.is-searchable.is-open.Select--multi,
.Select.has-value.is-clearable.is-searchable.is-open.Select--multi,
.Select.is-clearable.is-focused.is-searchable.Select--multi,
.Select.has-value.is-clearable.is-focused.is-searchable.Select--multi,
.Select.is-clearable.is-focused.is-pseudo-focused.is-searchable.Select--multi,
.Select.has-value.is-clearable.is-focused.is-pseudo-focused.is-searchable.Select--multi {
    &>.Select-control {
        border-color: $reperio-blue;
        border-bottom-width: 5px;
        outline: transparent !important;
        padding: 0px 16px;
    }

    .Select-value-label {
        color: $reperio-blue;
    }

    .Select-placeholder {
        padding: 3.5px 16px;
    }

    .Select-input {
        padding: 0;
        padding-top: 3.5px;
    }

    &>.Select-control.Select-multi-value-wrapper {
        padding: 0;
    }

    .Select-input {
        margin-left: 0;
    }

    &>.Select-control {
        outline: transparent !important;
    }

    outline: transparent !important;
}

.Select-placeholder {
    color: $reperio-placeholder-gray;
    font-style: italic;
    opacity: 1;
}

.Select.is-clearable.is-disabled.is-searchable.Select--single,
.Select.has-value.is-clearable.is-disabled.is-searchable.Select--single {
    &>.Select-control {
        color: $reperio-disabled-placeholder;
        background-color: $reperio-navbar-background;
        outline: transparent !important;
    }
}

.Select--multi.is-disabled .Select-value {
    background-color: #d8d6d6;
    border: 1px solid #e3e3e3;
    color: $reperio-disabled-placeholder;
}

.Select-arrow-zone, .Select-clear-zone {
    vertical-align: text-bottom;
}

.Select.is-clearable.is-disabled.is-searchable.Select--single .Select-value-label,
.Select.has-value.is-clearable.is-disabled.is-searchable.Select--single .Select-value-label,
.Select.is-clearable.is-disabled.is-searchable.Select--multi .Select-value-label,
.Select.has-value.is-clearable.is-disabled.is-searchable.Select--multi .Select-value-label {
    color: $reperio-disabled-placeholder;
}

.Select--multi .Select-value {
    margin-top: 6px;
}

::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $reperio-placeholder-gray;
    font-style: italic;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $reperio-placeholder-gray;
    font-style: italic;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $reperio-placeholder-gray;
    font-style: italic;
}

.react-datepicker {
    font-size: 1em;
}

.react-datepicker__header {
    padding-top: 0.8em;
}

.react-datepicker__month {
    margin: 0.4em 1em;
}

.react-datepicker__day-name,
.react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}

.react-datepicker__current-month {
    font-size: 1em;
}

.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}

.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}

.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}

.#{$namespace}-applications {
    cursor: pointer;
}

.#{$namespace}-applications-container {
    &.btn-default {
        background: none;
        border:none;
    }
}

.#{$namespace}-applications-container-content > div:hover { 
    background-color: $reperio-placeholder-gray;
}

.#{$namespace}-applications-squares {
    display:flex;
    flex-wrap: wrap;
    width: 36px;
}

.#{$namespace}-applications-square {
    width: 12px;
    height: 12px;
    background-color: $reperio-blue;
    border-color: $reperio-blue;
    border-style: solid;
    border-width: 1px;
    margin: 3px;
    transition: background 0.25s ease-in;
}

.#{$namespace}-applications-top-left-square {
    background-color: transparent;
}

.#{$namespace}-applications-container-content {
    display:flex;
    flex-wrap: wrap;
    z-index: 1;
    width: 450px;
    transition: visibility 0.5s;
    padding: 0;
}

div &.open &.#{$namespace}-applications-container > .#{$namespace}-applications > .#{$namespace}-applications-squares > .#{$namespace}-applications-square {
    background: transparent;
    transition: background 0.25s ease-out;
}

.#{$namespace}-applications-container-content > div {
    width:150px;
    flex-grow: 1;
    text-align: center;
    display: inline-block;
    background-color: #e3e3e3;
}

.nav {
    display: flex;
}

.#{$namespace}-menu-left-container {
    width: 50%;
    display: flex !important;
}

.#{$namespace}-menu-right-container {
    width: 50%;
    display: flex !important;
}

.#{$namespace}-menu-left-container-nav-items {
    list-style: none;

    & > li {
        display: inline-block;
        padding:10px;
    }
}

.#{$namespace}-profile {
    cursor: pointer;
}

.#{$namespace}-profile-container {
    &.btn-default {
        background: none;
        border:none;
    }
}

#profileInfo {
    text-align: right;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none !important;
}

.#{$namespace}-profile-menu {
    position: relative;
}

.#{$namespace}-profile-content {
    text-align: right;
}

.#{$namespace}-profile-initials {
    border-radius: 50%;
    height: 36px;
    max-height: 36px;
    width: 36px;
    max-width: 36px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    background-color: #3A73A8;
    color: white;
    font: bold;
    font-family: 'Nunito Sans';
    font-size: 1.15em;
}

.#{$namespace}-grid {
    border:none !important;
    color: $reperio-charcoal;
    font: 16px/1.5em 'Nunito Sans', sans-serif;
    font-weight: lighter;
    & > .pagination-bottom > .-pagination {
        height: 40px;
    }
    & > .rt-table {
        & .rt-tbody > .rt-tr-group {
            & > .rt-tr > .rt-td {
                padding-left:25px;
                padding-right: 25px;
            }
            & .-odd {
                height: 45px;
                position: relative;
                line-height: 30px;
                cursor: pointer;
            }
            & .-even {
                height: 45px;
                position: relative;
                line-height: 30px;
                cursor: pointer;
            }
            & .-padRow {
                cursor: default;
            }
        }
        & > .-filters > .rt-tr {
            & > .rt-th {
                border-right: 1px solid rgba(0, 0, 0, 0.05);
                padding:5px 20px 5px 20px;
                & > input[type='text'] {
                    color: $reperio-blue;
                    border-radius: 5px;
                    font: 16px/1.5em 'Nunito Sans', sans-serif;
                    font-weight: 100;
                    &:focus-within {
                        border: 1px $reperio-blue solid;
                    }
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
        & > .rt-thead {
            box-shadow: none !important;
            & > .rt-tr {
                & .-sort-asc {
                    box-shadow: none;
                    & > .rt-resizable-header-content {
                        color: $reperio-blue;
                        &:after {
                            content: '';
                            border-color: #4285c3 transparent transparent;
                            border-style: solid;
                            border-width: 5px 5px 1.5px;
                            position: absolute;
                            bottom: 35%;
                            margin-left: 5px;
                        }
                    }
                }
                & .-sort-desc {
                    box-shadow: none;
                    & > .rt-resizable-header-content {
                        color: $reperio-blue;
                        &:after {
                            content: '';
                            transform: rotate(180deg);
                            border-color: #4285c3 transparent transparent;
                            border-style: solid;
                            border-width: 5px 5px 1.5px;
                            position: absolute;
                            top: 43%;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1.5em;
}

.table-row-container {
    background-color: white;
    border-bottom: solid;
    border-color: #f3f3f3;
    border-width: 1px;
    padding: 7px;
}

.table-row-bottom-container {
    background-color: white;
    padding: 7px;
}

.table-row-property {
    color: gray;
}

.nested-table-container {
    padding: "10px";
    min-width: "620px";
}

.danger>a {
    color: red !important;
}

.dropdown-menu {
    background-color: $reperio-navbar-background;
    height: auto;
    margin: 0px;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    border: 5px solid transparent;
    border-image: url("../assets/rio-slider-colorband1.png") 5 stretch;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.dropdown-menu {
    .divider {
        margin: 5px 0px 5px 0px;
        background-color: $reperio-placeholder-gray;
    }
}

.#{$namespace}-applications {
    cursor: pointer;
}

.#{$namespace}-applications-container {
    &.btn-default {
        background: none;
        border: none;
    }
}

.#{$namespace}-applications-container-content>div:hover {
    background-color: $reperio-placeholder-gray;
    cursor: pointer;
}

.#{$namespace}-applications-squares {
    display: flex;
    flex-wrap: wrap;
    width: 36px;
}

.#{$namespace}-applications-square {
    width: 12px;
    height: 12px;
    background-color: $reperio-blue;
    border-color: $reperio-blue;
    border-style: solid;
    border-width: 1px;
    margin: 3px;
    transition: background 0.25s ease-in;
}

.#{$namespace}-applications-top-left-square {
    background-color: transparent;
}

.#{$namespace}-applications-container-content {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    width: 450px;
    transition: visibility 0.5s;
    padding: 0;
}

div &.open &.#{$namespace}-applications-container>.#{$namespace}-applications>.#{$namespace}-applications-squares>.#{$namespace}-applications-square {
    background: transparent;
    transition: background 0.25s ease-out;
}

.#{$namespace}-applications-container-content>div {
    width: 150px;
    flex-grow: 0;
    text-align: center;
    display: inline-block;
    background-color: #e3e3e3;
    padding: 10px;
}